{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content%}
    {% if user.is_superuser %}
    <h1 class="font-weight-bold text-center" style="padding-top: 50px;">Send A Newsletter to all of our customers!</h1>
    <div class="container">
        <div class="row mt-5 pt-5">
            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-info btn-block" type="submit" value="Send Message">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}