{% extends "base.html" %}
{% load static %}
{% block content %}

{% if cart_items %}
<div class="container" style="margin-left: 120px; margin-right: 20px;">
    <div class="row">
        <div class="col">
            <h1>Shopping Cart</h1>
        </div>
    </div>
                <div class="row">
                    <div class="col"><h4><b></b></h4></div>
                    <div class="col"><h4><b></b></h4></div>
                    <div class="col"><h4><b>Sku</b></h4></div>
                    <div class="col"><h4><b>Price</b></h4></div>
                    <div class="col"><h4><b>Qty</b></h4></div>
                    <div class="col"><h4><b>Total</b></h4></div>
{% for item in cart_items%}

                </div>

            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="{{ item.product.image.url }}"></div>


                        <!-- <div class="row">{{ item.product.description }}</div> -->

                    <div class="col">{{ item.product.brand_name }}
                        <div class="row">{{ item.product.Product_name }}</div>
                    </div>
                    <div class="col">SKU:{{ item.product.sku }}</div>
                    <div class="col">{{ item.product.price }}</div>
                    <div> <form class="form update-form" method="POST" action="">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3">Quantity:</p>
                                <div class="form-group w-10">
                                    <div class="input-group col-12">
                                        <input class="form-control qty_input" type="number" name="quantity" value="{{item.quantity}}" min="1" max="99" data-item-id="{{ item.item_id }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <input type="submit" class="btn1" style="border-radius: 5px;" value="add to cart">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form></div>

                    <div class="col">{{ item.total }}</div>
                </div>
            </div>
            <div class="row">
    {% endfor %}
{% else %}
<div class="container" style="margin-left: 120px; margin-right: 20px;">
    <div class="row">
        <div class="col">
            <h1>Shopping Cart Empty</h1>
        </div>
    </div>
</div>

{% endif %}
{% if grand_total %}
        <div class="col">
                <form>
                    <h5><b>Shipping</b></h5>
                    <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                    <p>Free delivery on orders over €{{ free_delivery_threshold }}</p>
                    <p>Spend €{{ free_delivery_delta }} More for free delivery!</p>
                    <p>GIVE CODE</p>
                    <input id="code" placeholder="Enter your code">
                </form>
            </div>
        <div class="col">
            <h5><b>Summary</b></h5>

                    <div>Total Qty: {{product_count}}</div>
                    <div>Total Price: €{{ grand_total|floatformat:2 }}</div>
                </div>
                <div class="col">
                    <h5><b>Go To Secure Checkout</b></h5>
                    <button class="btn">CHECKOUT</button>
                </div>
        </div>

            {% else %}
            <ul class="main-btns">
    <li><p><a href="{% url 'brands' %}" class="btn1 btn shadow-lg btn-round btn-lg d-flex center" style="border-radius: 10px;">Add items to your Cart!</a></p></li>

            {% endif %}





 </div>
</div>
{% endblock %}