{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container" style="margin-left: 120px; margin-right: 20px;">
    <div class="row">
        <div class="col">
            <h1>Shopping Cart</h1>
        </div>
    </div>
                <div class="row">
                    <div class="col"><h4><b></b></h4></div>
                    <div class="col"><h4><b></b></h4></div>
                    <div class="col"><h4><b>Sku</b></h4></div>
                    <div class="col"><h4><b>Price</b></h4></div>
                    <div class="col"><h4><b>Qty</b></h4></div>
                    <div class="col"><h4><b>Total</b></h4></div>
                    {% if cart_items %}
                    {% for item in cart_items%}

                </div>

            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="{{ item.product.image.url }}"></div>


                        <!-- <div class="row">{{ item.product.description }}</div> -->

                    <div class="col">{{ item.product.brand_name }}
                        <div class="row">{{ item.product.Product_name }}</div>
                    </div>
                    <div class="col">SKU:{{ item.product.sku }}</div>
                    <div class="col">{{ item.product.price }}</div>
                    <div class="col">{{ item.quantity }}</div>
                    <div class="col">{{ item.total }}</div>
                </div>
            </div>
            <div class="row">
                {% endfor %}
                {% else %}


        {% endif %}
        <div class="col">
                <form>
                    <h5><b>Shipping</b></h5>
                    <select><option class="text-muted">Standard-Delivery- &euro;5.00</option></select>
                    <p>Free delivery on orders over €{{ free_delivery_threshold }}</p>
                    <p>Spend €{{ free_delivery_delta }} More for free delivery!</p>
                    <p>GIVE CODE</p>
                    <input id="code" placeholder="Enter your code">
                </form>
            </div>
        <div class="col">
            <h5><b>Summary</b></h5>
            {% if grand_total %}
                    <div>Total Qty: {{product_count}}</div>
                    <div>Total Price: €{{ grand_total|floatformat:2 }}</div>
                </div>
                <div class="col">
                    <h5><b>Go To Secure Checkout</b></h5>
                    <button class="btn">CHECKOUT</button>
                </div>
        </div>

            {% else %}

            {% endif %}





 </div>
</div>
{% endblock %}