{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- <main>
<section img class="" style="width: 100%;height:100%; background-size: cover; background-color: lightgrey; background-image: url({% static 'images/bg-img.png' %});">

    <div class="container-fluid">
       <div class="row d-flex">
         <div class="col-12 col-md-8  h-50 ">
           <h1 class="special-h1"> To Retail</h1>
           <div class="sub-head">
           <h6 class="">Home To retail Connects small Businesses To Large Retailers</h6>
            </div>
          </div>
        </div>

             <ul class="main-btns" style="margin: 0 auto; padding-top: 20px;">
 <li><p><a href="{% url 'brands' %}" class="btn1 btn shadow-lg btn-round btn-lg d-flex center">Shop for your Business</a></p></li>

 <li><p><a href="{% url 'brand-upload' %}" class="btn2 btn shadow-lg btn-round btn-lg d-flex center">Sell to a Retailer</a></p></li>
</ul>

</section>
    </main> -->





    <div class="container-fluid">
      <!-- row -->
      <div class="row">
        <!-- col -->
        <div class="col col-sm-6 col-md-6 text-center res-div about" style="background-color: #ff90e8; padding-bottom: 400px;  z-index: 99;">
          <h2 class="font-weight-bold text-left">Charge Ahead!</h2>
          <p class="font-weight-bold">SELL YOUR PRODUCTS TO BIG RETAILERS NOW!</p>
          <!-- col -->
        <div class="egg col col-sm-6 col-md-6 res-div"><img class="pop-image " src="media/Mighty-Moana.png" alt=""></div>
        </div>
        <!-- col -->
          <div class="col col-sm-6 col-md-6 text-center res-div about" style="background-color: #ffc900; padding-bottom: 400px;">
          <h2 class="font-weight-bold content">Start your first </h2>
          <h2 class="font-weight-bold content" >online store Toaday!</h2>
          <p class="content">Its easy To create your brand and upload your products through our simple to follow forms.</p>
          <button class="button-31" role="button"><a href="{% url 'brand-upload' %}" class="button-31">Sell to a Retailer</a></button>
          </div>
        <div class="w-100" style="background-color: rgb(30, 138, 174);"></div>
      </div>
    </div>
    <div class="container-fluid">
    <div class="row">
      <div class="col col-sm-12 col-md-12 text-center text-white" style="background-color: rgb(0, 0, 0); z-index: 1000;">
        <p class="text-center w-responsive">Home To Retail is designed to <strong> maximise sales for small bussinesses</strong> and Provide <strong>quality products for big retailers.</strong></p>

      </div>
    </div>
    <div class="row">
      <div class="col col-sm-12 col-md-12 text-center" style="background-color: rgb(255, 255, 255); padding-bottom: 400px;">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos, ad. Ipsa dolore, aliquam repellendus voluptate nemo placeat temporibus assumenda minima mollitia quidem, tempora architecto at qui reiciendis culpa vero beatae?</p>
      </div>
    </div>
    </div>
    <div class="container-fluid">
      <div class="row" style="background-color: red;">
        <div class="col col-sm-6 col-md-6 text-center" style="background-color: #ff90e8; padding-bottom: 250px;">
          <h2>Why?</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit aut soluta eum perspiciatis minima commodi tempora aliquam voluptate asperiores? Illo minima velit nulla illum ducimus ad laudantium aliquam maiores est.</p>
        </div>
          <div class="col col-sm-6 col-md-6 text-center" style="background-color: #ffc900;">
          <h2>How?</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, iure earum repellat rem laboriosam ab veritatis reprehenderit numquam nam eum totam velit nostrum! Doloremque a nam quae eos accusamus facilis!</p>
          </div>
        <div class="w-100" style="background-color: rgb(30, 138, 174);"></div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row" style="background-color: red;">
        <div class="col col-sm-6 col-md-6 text-center" style="background-color: #ff90e8; padding-bottom: 400px;">
          <h2>Why?</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit aut soluta eum perspiciatis minima commodi tempora aliquam voluptate asperiores? Illo minima velit nulla illum ducimus ad laudantium aliquam maiores est.</p>
        </div>
          <div class="col col-sm-6 col-md-6 text-center" style="background-color: #ffc900;">
          <h2>How?</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta, iure earum repellat rem laboriosam ab veritatis reprehenderit numquam nam eum totam velit nostrum! Doloremque a nam quae eos accusamus facilis!</p>
          </div>
        <div class="w-100" style="background-color: rgb(30, 138, 174);"></div>
      </div>
    </div>




{% endblock %}