{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
<section img class="" style="width: 100%;height:100%; background-size: cover; background-color: lightgrey; background-image: url({% static 'images/bg-img.png' %});">

    <div class="container-fluid">
       <div class="row d-flex">
         <div class="col-12 col-md-8  h-50 ">
           <h1 class="special-h1"> To Retail</h1>
           <div class="sub-head">
           <h6 class="">Home To retail Connects small Businesses To Large Retailers</h6>
            </div>
             <ul class="main-btns">
 <li><p><a href="#" class="btn1 btn shadow-lg btn-round btn-lg d-flex center" style="border-radius: 10px;">Shop for your Business</a></p></li>

 <li><p><a href="#" class="btn2 btn shadow-lg btn-round btn-lg d-flex center" style="border-radius: 10px;">Sell to a Retailer</a></p></li>
</ul>
                     <div class="btn-container-wrapper p-relative d-block  zindex-1">
                         <a class="btn btn-link btn-lg   mt-md-3 mb-4 scroll align-self-center text-light" href="http://bootstraptor.com">
                             <i class="fa fa-angle-down fa-4x text-light"></i>
                             </a>
                     </div>
         </div>

       </div>
     </div>
     </section>
    </main>
{% endblock %}