{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="outline-div container-fluid">
      <!-- row -->
      <div class="row">
        <!-- col -->

          <!-- col -->

        <!-- col -->
          <div class="outline-div col col-sm-6 col-md-6 text-center res-div about" style="background-color: #ffc900; padding-bottom: 100px;">
          <h2 class="font-weight-bold content">Start your first </h2>
          <h2 class="font-weight-bold content" >online store Toaday!</h2>
          <p class="content">Its easy To create your brand and upload your products through our simple to follow forms.</p>
          <a href="{% url 'brand-upload' %}" class="button-31">GET STARTED</a>
          </div>
          <div class="outline-div col col-sm-6 col-md-6 text-center res-div about" style="background-color: #ff90e8; padding-bottom: 100px;  z-index: 99;">
            <h2 class="font-weight-bold text-center">Charge Ahead!</h2>
            <p class="font-weight-bold">BUILD YOUR BRANDS ONLINE FOUNDATIONS WITH US!</p>
            <div class=" outline-div egg col col-sm-6 col-md-6 res-div"><img class="pop-image " src="{% static 'images/Mighty-Moana.png' %}" alt=""></div>
        </div>
        <div class="outline-div w-100" style="background-color: rgb(30, 138, 174);"></div>
      </div>
    </div>
    <div class="outline-div container-fluid">
    <div class=" outline-div row">
      <div class="outline-div col col-sm-12 col-md-12 text-center text-white" style="background-color: rgb(0, 0, 0); z-index: 1000; width: 100%;">
        <p class="text-center w-responsive banner">Home To Retail is designed to <strong> maximise sales for small bussinesses</strong> and Provide <strong>quality products for big retailers.</strong></p>
      </div>
    </div>
    <div class="row outline-div">
      <div class="col col-sm-12 col-md-12 text-center outline-div " style="background-color: rgb(255, 255, 255); padding-bottom: 100px; padding-top:100px; font-size: 2rem;">
        <span>Your Products</span><span>+    </span><span>Our Platform</span><span>=    </span><span>Your Dream!</span>
        <br>
        <!-- start -->
        <span ><img class="prod" src="{% static 'images/prod.png' %}" alt=""></span>
        <!-- end -->
        <span>+</span><span ><img class="site" src="{% static 'images/site.png' %}" alt=""></span><span>=</span><span ><img class="dream" src="{% static 'images/dream.png' %}" alt=""></span>
      </div>
    </div>
    </div>
    <div class="container-fluid outline-div">
      <div class="row outline-div" style="background-color: red;">
        <div class="col col-sm-6 col-md-6 text-center outline-div" style="background-color: #000000; padding-bottom: 100px; padding-top:100px;">
          <h2 class="font-weight-bold text-center" style="color: white; font-size: 3rem;">Create A Brand</h2>
          <p class="text-right no-sm" style="color: white; font-size: 3rem;">It's That</p>
          <p style="padding-top: 30px; font-size: 3rem; color: #ffc900;">By filling out Our easy to use and easy to undestand forms!</p>
        </div>
          <div class="col col-sm-6 col-md-6 text-center outline-div" style="background-color: #ffc900; padding-bottom: 100px; padding-top:100px;">
          <h2 class="font-weight-bold text-center" style="font-size: 3rem;">Create A Product</h2>
          <p class="text-left no-sm" style="font-size: 3rem;">Simple</p>
          <img class="form" src="{% static 'images/form.png' %}" alt="">

          </div>
        <div class="w-100 outline-div" style="background-color: rgb(30, 138, 174);"></div>
      </div>
    </div>



      <div class="row outline-div">

        <div class="col col-sm-12 col-md-12 text-center outline-div " style="background-color: rgb(255, 255, 255); padding-bottom: 100px; padding-top:100px; font-size: 2rem;">
          <h2 class="font-weight-bold text-center" style="color: rgb(0, 0, 0); font-size: 3rem;">Our Partners!</h2>
        <p style="padding-top: 30px; font-size: 2rem; color: #931885;">We have Teamed up with some of the biggest Retailers In Ireland, and their buyers are constantly Browsing Our site looking for the Next Best sellling Product!</p>
          <span><a href="https://www.dunnesstores.com/" target="_blank"><img src="{%static 'images/dunnes.png'%}" style=" width: 15%; padding: 10px;" alt=""></a>
          </span><span><a href="https://www.lidl.ie/" target="_blank"><img src="{%static 'images/lidl.png'%}" style=" width: 15%; padding: 10px;" alt=""></a>
          </span><span><a href="https://www.tesco.ie/" target="_blank"><img src="{%static 'images/tesco.png'%}" style=" width: 15%; padding: 10px;" alt=""></a>
          </span><span><a href="https://www.aldi.ie/" target="_blank"><img src="{%static 'images/aldi.png'%}" style=" width: 15%; padding: 10px;" alt=""></a></span>

          <br>



        </div>



        <div class="w-100 outline-div" style="background-color: rgb(30, 138, 174);"></div>
      </div>





{% endblock %}