{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css'%}">
{% endblock %}


{% block content %}


<div class="container" style="background-color: black; padding-bottom: 100px;">
    <div class="container ">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4" style="color: white;">My Profile</h2>
            <hr>
        </div>
    </div>
</div>
<div class="row contact-head">
    <div class="col-12 col-lg-6">
        <p>
            Default Delivery Information
        </p>
        <form action="{% url 'profile'%}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="float-right button-32">Update Information</button>
        </form>

    </div>
    <div class="col-12 col-lg-6 card">
        <p>Order History</p>
        <div class="order-history table-responsive">
            <table class="table table-sm table-borderless">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Date</th>
                        <th>Items</th>
                        <th>Order Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>
                            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number}}">{{ order.order_number|truncatechars:6 }}</a>
                        </td>
                        <td>{{ order.date }}</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for item in order.lineitems.all %}
                                <li class="small">
                                    {{ item.product.name }} x {{ item.quantity }}
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>${{ order.grand_total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
</div>

{% endblock %}


