{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css'%}">
{% endblock %}


{% block content %}


<div class="container" style="margin-left: 120px;">
    <div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Profile</h2>
            <hr>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-6">
        <p>
            Default Delivery Information
        </p>
        <form action="{% url 'profile'%}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="float-right">Update Information</button>
        </form>

    </div>
    <div class="col-12 col-lg-6">
        <p>Order History</p>
        {{ orders }}
    </div>
</div>
</div>

{% endblock %}


