*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 120px;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;

}

.nav-item1{
    display: flex;
    padding-top: 150px;
    padding-left: 30%;
    padding-bottom: 50px;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}
.nav-item1:hover{
    color: lightpink;
}


.nav-item2{
    display: inline-block;
    text-decoration: none;
    padding: 5px 15px 5px 5px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;



}

.nav-item2:hover{
    color: lightpink;
}

.special-h1{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-top: 155px;
    text-decoration: underline;

}


main{
    margin-left: 120px;
    height: 100vh;

}

.h2r-title{
    color: rgb(255, 255, 255);

}

.sub-head{
    color: black;
    padding-top: 20px;
    padding-left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    text-align: center;
}

.sub-head h6{
    font-weight: bold;
    font-size: 20px;
}

.main-btns{
    list-style-type: none;
    max-width: 600px;
    margin-top: 20vh;
    margin-left: 30vw;
    padding-right: 10px;
    padding-bottom: 1px;
    background-color: rgba(255, 255, 255, 0.7);




}
.btn1{
    background-color: black !important;
    color: white!important;
}

.btn2{
    background-color: black!important;
    color: white!important;
}


.btn1:hover{
    background-color: white!important;
    color: black!important;
    transition: 1s!important;
}

.btn2:hover{
    background-color: white!important;
    color: black!important;
    transition: 1s!important;
}

#caro{
    width: 75%;
    margin-left: 120px;

    z-index: -1;
}


.carousel-inner img {
    width: fit-content;
    height: 300px;
    margin: auto;
    float: left;



  }

  .carousel-inner {
    display: table-cell;

}

.all-brands{
    margin-left: 120px;
}

.space{
    margin-left: 120px;
    height: 30vh;
    padding-top: 100px;
    text-align: center;
}
.space2{
    margin-left: 120px;
    height: 30vh;
    padding-top: 70px;
    text-align: center;
}
.brands{
    padding-bottom: 60px;
    margin-left: 120px;
}

.right{
    margin-left: 120px;
}

.message-container{
    position: fixed;
    top: 200px;
    left: 100px;
    z-index: 99999;
}

.custom-toast{
    overflow: visible;
}

.toast-capper {
    height: 2px;
}
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notifications{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.title{
    margin-left: 120px;
}

.img-size{
    max-width: 90%;
}
.link-pointer{
    cursor: pointer;
}
