*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

div {
    outline: 5px solid black;
  }

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }



/* .topnav{
    width: 100%;
    color: black;
    float: left;

} */

/* .nav-item1{

    font-size: 30px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
} */
/* .nav-item1:hover{
    color: lightpink;
} */


/* .nav-item2{
    text-decoration: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.nav-item2:hover{
    color: lightpink;
} */


#burst-12 {
    background: red;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
  }
  #burst-12:before,
  #burst-12:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: red;
  }
  #burst-12:before {
    transform: rotate(30deg);
  }
  #burst-12:after {
    transform: rotate(60deg);
  }

  .egg {
    /* Modify size here: */
    --size: 300px;

    display: block;
    width: var(--size);
    height: calc(var(--size) * 1.44);
    background-color:#ffc900;
    border-radius: 70% 60% 20% 10% / 60% 20% 60% 70%;
    margin: 0 auto;
  }


.special-h1{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-top: 155px;
    text-decoration: underline;

}


main{


}

.h2r-title{
    color: rgb(255, 255, 255);

}

.sub-head{
    color: black;
    padding-top: 20px;
    padding-left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    text-align: center;
}

.sub-head h6{
    font-weight: bold;
    font-size: 20px;
}

.main-btns{
    list-style-type: none;
    max-width: 600px;
    margin-top: 20vh;
    margin-left: 30vw;
    padding-right: 10px;
    padding-bottom: 1px;
    background-color: rgba(255, 255, 255, 0.7);




}
.btn1{
    background-color: black !important;
    color: white!important;
}

.btn2{
    background-color: black!important;
    color: white!important;
}


.btn1:hover{
    background-color: white!important;
    color: black!important;
    transition: 1s!important;
}

.btn2:hover{
    background-color: white!important;
    color: black!important;
    transition: 1s!important;
}

#caro{
    width: 75%;
    margin-left: 120px;

    z-index: -1;
}


.carousel-inner img {
    width: fit-content;
    height: 300px;
    margin: auto;
    float: left;



  }

  .carousel-inner {
    display: table-cell;

}

.all-brands{
    margin-left: 120px;
}

.space{
    margin-left: 120px;
    height: 30vh;
    padding-top: 100px;
    text-align: center;
}
.space2{
    margin-left: 120px;
    height: 30vh;
    padding-top: 70px;
    text-align: center;
}
.brands{
    padding-bottom: 60px;
    margin-left: 120px;
}

.right{
    margin-left: 120px;
}

.message-container{
    position: fixed;
    top: 200px;
    left: 100px;
    z-index: 99999;
}

.custom-toast{
    overflow: visible;
}

.toast-capper {
    height: 2px;
}
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notifications{
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.title{
    margin-left: 120px;
}

.img-size{
    max-width: 90%;
}
.link-pointer{
    cursor: pointer;
}
