{% extends 'base.html'%}
{% load static %}
{% block content%}

<!--Section: Contact v.2-->
<section class="mb-4" style="padding-left: 15px; padding-right: 15px; background-color: black;">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Check out what we are up to on Our Social media.</h2>
    <!--Section description-->
    <!-- <a href=""><p class="text-center w-responsive mx-auto mb-5">Facebook</p></a>
    <a href=""><p class="text-center w-responsive mx-auto mb-5">Instagram</p></a>
    <a href=""><p class="text-center w-responsive mx-auto mb-5">TikTok</p></a>
    <a href=""><p class="text-center w-responsive mx-auto mb-5"></p></a> -->

    <div class="row" >
        <div class="col" style="background-color: #ffc900 ;">
            <a href=""><p class="text-center w-responsive mx-auto mb-5">Instagram</p></a>
            <img src="{% static 'images/casperco-insta3.png' %}"class="img-size" alt="">
        </div>
        <div class="col" style="background-color:  #ff90e8;">
            <a href=""><p class="text-center w-responsive mx-auto mb-5">Instagram</p></a>
            <img src="{% static 'images/casperco-insta2.png' %}"class="img-size" alt="">
        </div>
        <div class="col" style="background-color: #ffc900 ;">
            <a href=""><p class="text-center w-responsive mx-auto mb-5">Instagram</p></a>
            <img src="{% static 'images/casperco-insta1.png' %}" class="img-size" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color:  #ff90e8;">
            <a href=""><p class="text-center w-responsive mx-auto mb-5">Facebook</p></a>
            <img src="{% static 'images/rp-insta3.png' %}"class="img-size" alt="">
        </div>
        <div class="col" style="background-color: #ff90e8;">
            <a href=""><p class="text-center w-responsive mx-auto mb-5">Facebook</p></a>
            <img src="{% static 'images/rp-insta2.png' %}"class="img-size" alt="">
        </div>
        <div class="col" style="background-color:  #ff90e8;">
            <a href=""><p class="text-center w-responsive mx-auto mb-5">Facebook</p></a>
            <img src="{% static 'images/rp-insta1.png' %}" class="img-size" alt="">
        </div>
    </div>
</section>
<!--Section: Contact v.2-->

{% endblock content %}