{% extends 'base.html'%}
{% load static %}
{% block content%}

<!--Section: Contact v.2-->
<section class="mb-4" style=" margin-left: 130px; padding-left: 15px; padding-right: 15px;">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Check out what we are up to on Our Social media.</h2>
    <!--Section description-->
    <a href=""><p class="text-center w-responsive mx-auto mb-5">Facebook</p></a>
    <a href=""><p class="text-center w-responsive mx-auto mb-5">Instagram</p></a>
    <a href=""><p class="text-center w-responsive mx-auto mb-5">TikTok</p></a>
    <a href=""><p class="text-center w-responsive mx-auto mb-5"></p></a>

    <div class="row">
        <div class="col">
            <h2 class="font-weight-bold">Why ?</h2>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non itaque repudiandae beatae qui. Doloribus
                amet voluptas ab quasi nobis placeat! Nobis, delectus totam consectetur sunt doloremque ipsam possimus
                magnam ab?</h3>
        </div>
        <div class="col">
            <h2 class="font-weight-bold">How ?</h2>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non itaque repudiandae beatae qui. Doloribus
                amet voluptas ab quasi nobis placeat! Nobis, delectus totam consectetur sunt doloremque ipsam possimus
                magnam ab?</h3>
        </div>

</section>
<!--Section: Contact v.2-->

{% endblock content %}