{% extends 'base.html'%}
{% load static %}
{% block content%}

<!--Section: Contact v.2-->
<section class="mb-4" style="padding-left: 15px; padding-right: 15px; background-color: black;">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center text-white my-4">Check out what we are up to on Our Social media.</h2>
    <!--Section description-->

    <div class="row" >
        <div class="col-lg-6 col-md-6 col-sm-12" style="background-color: #ffc900 ; padding-bottom: 50px; padding-top: 50px;">
            <a href="https://www.instagram.com/" target="_blank"><img src="{% static 'images/instagram.png' %}" style="padding-bottom: 20px; margin: 0 auto; max-width: 50%;  border-radius: 50px;" alt="Instagram logo"></a>
            <img src="{% static 'images/facebookh2r.png' %}" class="img-size" style="max-width: 85%;" alt=" screenshot of home 2 retails's instagram page ">
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12" style="background-color:  #ff90e8; padding-bottom: 50px; padding-top: 50px;">
            <a href="https://www.facebook.com/profile.php?id=100088266785754" target="_blank"><img src="{% static 'images/facebook.png' %}" style="padding-bottom: 20px; margin: 0 auto; max-width: 50%; border-radius: 50px;" alt="facebook logo"></a>
            <img src="{% static 'images/facebookh2r.png' %}" class="img-size" style="max-width: 85%;" alt="screenshot of home 2 retails's facebook page ">
        </div>
    </div>

</section>
<!--Section: Contact v.2-->

{% endblock content %}