{% extends 'base.html'%}
{% load static %}
{% block content%}

<!--Section: Contact v.2-->
<section class="mb-4" style=" margin-left: 130px; padding-left: 15px; padding-right: 15px;">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Our Mission</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Home To Retail is designed to <strong> maximise sales for small bussinesses</strong> and Provide <strong>quality products for big retailers.</strong></p>

    <div class="row">
        <div class="col">
            <h2 class="font-weight-bold">Why ?</h2>
            <h3>DIY'rs, Crafters, Painters, Artists Always have trouble when it comes to maximising Sales and revenue due to Not taking advantage of B2B (business to businees) Sales, This could be for a number of reasons. The main two are not taking advantage of technology arround them such as shopify and wixx this is down to the High barrier to entry when creating, maintaining and running your own website on one of theese platforms. the Next reason is just not knowing where to start and who to contact. We have solved both of these Issues.</h3>
        </div>
        <div class="col">
            <h2 class="font-weight-bold">How ?</h2>
            <h3>We have solved these issues Firstly by making it easyer than ever to set up your online store front and start selling.We do this by giving our users a simple form and image field to fill out, Once complete our site will automatically build your store front and be available on our site for everyone to see, adding products to your store is done the same way, and will display and be available to purchase in your store. Secondly We will find your Wholesale customers ready to make big orders to stock their shelfs, We do this by giving Wholesalers an easy place to go and purchase products in bulk Hassle free.</h3>
        </div>

</section>
<!--Section: Contact v.2-->

{% endblock content %}