{% extends "base.html" %}
{% load static %}

{% block content %}
    <h2 style="text-align: center; justify-content: center; margin-left: 120px;">Brands</h2><br>
    <div id="caro" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#caro" data-slide-to="0" class="active"></li>
      <li data-target="#caro" data-slide-to="1"></li>
      <li data-target="#caro" data-slide-to="2"></li>
    </ul>
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/casper-2.png' %}" alt="Slider1">
        <h1>CasperCO</h1>
        <p>CasperCO
            All Natural Lip Balm
            Designed and Handmade in Ireland
            Zero Plastic - Planting Seeds for Change</p>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/modmo-1.png' %}" alt="Slider2" width="1100" height="500">
        <h1>MODMO</h1>
        <p>MODMO was founded in March 2020 by Jack O’Sullivan, a then 23yr old Irishman with a vision to make the bike that would replace your car.
        </p>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/rk-1.png' %}" alt="Slider3" width="1100" height="500">
        <h1>Rebeka Kahn Art</h1>
        <p>Rebeka Kahn ART Bespoke Irish Art, created using a unique fusion of ceramic, glass & inspiration.
            Every work of art has a story and this one is no different..</p>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#caro" data-slide="prev">
      <span class="carousel-control-prev-icon">Prev</span>
    </a>
    <a class="carousel-control-next" href="#caro" data-slide="next">
      <span class="carousel-control-next-icon">Next</span>
    </a>
  </div>



  <div class="all-brands">
    {% for brand in brands %}
    {% if brand.image %}
    <div class="brand-card">
    <a href="#">
        <img class="card-img-top img-fluid" src="{{ brand.image.url }}" alt="{{ brand.name }}">
    </a>
    {% else %}
    <a href="#">
        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ brand.name }}">
    </a>
    {% endif %}
            <p class="mb-0">{{ brand.name }}</p>

        <!-- {% if brand.description %}
    <a href="#">
        <p>{{ brand.description }}</p>
    </a>
    {% else %}
    <a href="#">
        <p>No description</p>
    </a>
    {% endif %} -->



  </div>
</div>
{% endfor %}

{% endblock %}